* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.flex-container {
  display:inline-flex;
  background-color: DodgerBlue;
  flex-direction: row-reverse;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 1px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  color: blue;
  border-style: dotted;
}

.flex-container-right {
  float:right;
  background-color: #f1f1f1;
  flex-direction: row-reverse;
  margin: 10px;
  padding: 1px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  color: blue;
  border-style:double;

}

#aa {
  visibility: hidden;
}

imgx {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: 250px;
}

.holdingimage {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(19, 12, 216);
  font-size:100px;
}

.flex-aboutme {
  width: 100%;
  display:flex;
  background-color: rgb(12, 9, 9);
  flex-direction: row;
  width:fit-content;
  justify-content: center;

}

.flex-aboutme  > div {
  background-color: #f1f1f1;
  margin: 5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  color: blue;
  border-style: dotted;
  width:fit-content;
  word-wrap:break-word;

}

.padingpurpose {

  padding-top: 3em;
}


#work{
  display:inline-flex;
  flex-direction: column;
  background-color: #a62b2b;
  margin: 50px;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  color: blue;
  border-style:none;
}


#work1{
  display:inline-flex;
  flex-direction: row;
  width:81%;
  height: 1600px;  
  flex-wrap: wrap;
}

  img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: 400px;
}

.centered1 {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(19, 12, 216);
  font-size:100px;
}

.gfg {

  width: 100%;
  position: relative;
}

.first-txt {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.flex-container2 {
  display:flex;
  
  flex-direction: row;
}

.flex-container2 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 1px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  color: rgb(69, 97, 108);
  border-style:groove;
}